detoxification/.ipynb_checkpoints/
tomqa/tom/world_large_nex_1000_0/*.txt
tomqa/tom/world_large_nex_1000_10/*.txt
tomqa/tom_easy/world_large_nex_1000_0/*.txt
tomqa/tom_easy/world_large_nex_1000_10/*.txt
odd-man-out/data/
